<!-- NgRxدا مديول مسئول انة يربط ابلكشن الانجلر بمكتبة ال 
redux -->

<!-- فى الانجلر كل كموبنت ليها داتا الداتا دى تسمى استات لما الكمبونت تحب تغير فى الستات دى بتغير عن طريق الرديوسر الرديوسر دة مش هغير الا لما الكمبونت تقولة فهما بيتوصلوا مع بعض عن طريق الاكشن الكمبونت بتعمل دسباتش للاكشن والرديوسر بيراقب الاكشن اى تغير يروح يعدل فى الستات -->
<!-- state mangement دا كلة اسمة  -->
<!-- redux دى المكتبة اللى بتخلينى اعمل ال 
state mangement -->
<!-- reducer دا فنكشن عاادية  -->
<!-- action دا اوبجكيت جواة بروبيرتى -->
<!-- effect بتخلى الستات منجيمنت تتعامل مع ال 
            api -->
<!-- redux DevToolsدى اداةبتعرفنى الستات بتاعتى وبتعرضها والاكشن اللى تم عليها -->

<h1>{{ count }}</h1>
<button (click)="increase()">increase</button>
<button (click)="decrease()">decrease</button><br><br>

<button (click)="load()">Load Todos</button>
